<section class="section-about section">

  <h3 id="about" class="bigger">About Us</h3>

  <div class="blurb">
    {{ site.data.settings.blurb | markdownify }}
  </div>
  <div class="about-content">
  <div class="background">
    <h4>Background</h4>
    <p>Chronic Kidney Disease (CKD) and Acute Kidney Injury (AKI) pose a substantial public health burden. Even with the best available medical therapy, deteriorating kidney function can require renal replacement therapy (dialysis, kidney transplantation), both of which have substantial morbidity and mortality. Progressive kidney disease involves failure to effectively repair injury, ineffective regeneration of critical tissues, and unchecked continuation of pathophysiologic processes. This places great importance on the development of potential alternative therapies. </p>  


    <p><strong>Developing and implementing strategies to enhance renal repair and promote the generation of new nephrons in the postnatal organ could have a significant impact on the prevalence and progression of kidney disease. </strong></p>

    <p>Such strategies include the de novo repair of nephrons, the re-generation of nephrons, and the in vitro engineering of a biological kidney. These all require <strong>diverse scientific approaches drawn from several disciplines and lines of study</strong>. However, the cross-talk between these disciplines is limited. Although our understanding of the establishment, maintenance, and differentiation of the renal progenitors is extensive, only recently has this knowledge been used to guide the in vitro induction of renal cell lineages. It has not been exploited to inform strategies to best re-cellularize an injured kidney.</p>

    <p>Ongoing studies and new developments have produced detailed knowledge of nephron development, induction of pluripotent stem cells towards a renal cell fate, and ex-vivo programming of renal progenitor cells. <strong>The (Re)Building a Kidney consortium's goal is to coordinate and support studies that will result in the ability to generate or repair nephrons that can function within the kidney.</strong></p>

  </div>

  <div class="objectives">
    <h4>Research objectives</h4>
    <p>This consortium includes a wide range of projects including but not limited to studies that:</p>

    <ul>
      <li>Identify, characterize, and evaluate progenitor cell types (embryonic and in the adult), including manipulation of iPS cells to a renal cell fate;</li>
      <li>Determine the role of microenvironments to establish the cellular compartments of the kidney (including innervation, and the vasculature and lymphatic systems);</li>
      <li>Study progenitor cells and microenvironment involved in productive repair in response to injury;</li>
      <li>Develop and study scaffolds for use both in vivo and in vitro;</li>
      <li>Evaluate methods to target cells and molecules to specific kidney locations/compartments; and</li>
      <li>Establish the necessary pre-patterning of the kidney and the interaction of cellular components to boost kidney self-organization.</li>
      </ul>
  </div>
  <div class="for-patients">
    <h4>For patients visiting this site</h4>
    <p>(Re)Building a Kidney is a basic research project and we are not currently directly involved with patients at this point.  However, for information that may be of use to you, we suggest visiting the following resources from the <a href="http://www.isscr.org">International Society for Stem Cell Research (ISSCR)</a>:
        <ul>
          <li><a href="http://www.isscr.org/home/resources/learn-about-stem-cells">Learn About Stem Cells</a></li>
          <li><a href="http://www.isscr.org/home/resources/learn-about-stem-cells">Patient Handbook on Stem Cell Therapies</a></li>
        </ul>
      </p>
  </div>
  </div>

</section>
