<section class="section-blurb section">

  <h3 id="about" class="bigger">Who we are</h3>

  <div class="blurb">
    (Re)Building a Kidney is an NIDKK-funded consortium of <a href="projects.html">research projects</a> working to optimize approaches for the isolation, expansion, and differentiation of appropriate kidney cell types 
  and their integration into complex structures that replicate human kidney function.

  </div>
  <div class="blurb-content">
  <div class="box">
    <p>Our ultimate goal is to coordinate and integrate research to support the development and implementation of strategies such as de novo repair of nephrons, the re-generation of nephrons, and the in vitro engineering of a biological kidney to enhance renal repair and promote the generation of new nephrons in the postnatal organ. For more information about our background and objectives, see <a href="about.html">About Us</a>. To stay updated about funding opportunities, project updates and other information, we encourage you to <a href="http://eepurl.com/buBSC5">sign up for our mailing list here</a>.</p>
  </div>
</div>
</section>
