<section class="section-blurb section">

	<div class="receptor">
  	<img src="../assets/img/receptor.png">
  </div>

  <h3 id="about" class="bigger">GPCR Development Home</h3>

  <div class="blurb">
    <p>This is the development server for GPCR.</p>
  </div>
  <div class="blurb-content">
  <div class="box">
    <p>Available services:</p>
    <ul>
    	<li><a href="/constructs/">Constructs Browser</a></li>
    	<li><a href="http://gpcrconsortium.org">Current GPCR Website</a></li>
    </ul>
  </div>
</div>
</section>
