<section class="section-constructs section">

  <div class="receptor">
  	<img src="../assets/img/receptor.png">
  </div>

  <h3 id="constructs" class="bigger">GPCR Constructs Browser</h3>

  <div class="constructs-content">
  <div class="box">
  	<p>Welcome to the GPCR Consortium Constructs Browser.  The system is in a rapid state of development, and may be updated hourly, so check back frequently for updates.</p>

	<p>Please send questions/bugs to <a href="mailto:carl@isi.edu">Carl Kesselman</a>.</p>

    <p class="demo"><a href="https://gpcr-dev.misd.isi.edu/chaise/search/#1/gpcr_browser:construct_gui?facets=(construct_gui:site::eq::USC)&layout=list&page=1" target="_blank">Click here to view USC Constructs</a></p>

    <p class="demo"><a href="https://gpcr-dev.misd.isi.edu/chaise/search/#1/gpcr_browser:construct_gui?facets=(construct_gui:site::eq::iHuman)&layout=list&page=1" target="_blank">Click here to view iHuman Constructs</a></p>

  </div>
</div>
</section>
