<section class="section-explorer section">

  <div class="receptor">
  	<img src="../assets/img/receptor.png">
  </div>

  <h3 id="constructs" class="bigger">GPCR Consortium Data Explorer</h3>

  <div class="explorer-content">
  <div class="box">
  	<p>Welcome to the GPCR Consortium Data Explorer.  The system is in a rapid state of development, and may be updated hourly, so check back frequently for updates.</p>

	<p>Please send questions/bugs to <a href="mailto:carl@isi.edu">Carl Kesselman</a>.</p>

  <p class="demo">Search Targets: <a href="/chaise/search/#1/gpcr_browser:target_gui?facets=(target_gui:site::eq::USC)&layout=table&page=1">USC</a> | <a href="/chaise/search/#1/gpcr_browser:target_gui?facets=(target_gui:site::eq::iHuman)&layout=table&page=1">iHuman</a> | <a href="/chaise/search/#1/gpcr_browser:target_gui?facets=(target_gui:site::eq::SIMM)&layout=table&page=1">SIMM</a> | <a href="/chaise/search/#1/gpcr_browser:target_gui?facets=(target_gui:site::eq::USC;iHuman;SIMM)&layout=table&page=1">All</a></p>


  <p class="demo">Search Constructs: <a href="/chaise/search/#1/gpcr_browser:construct_gui?facets=(construct_gui:site::eq::USC)&layout=table&page=1">USC</a> | <a href="/chaise/search/#1/gpcr_browser:construct_gui?facets=(construct_gui:site::eq::iHuman)&layout=table&page=1">iHuman</a> | <a href="/chaise/search/#1/gpcr_browser:construct_gui?facets=(construct_gui:site::eq::SIMM)&layout=table&page=1">SIMM</a> | <a href="/chaise/search/#1/gpcr_browser:construct_gui?facets=(construct_gui:site::eq::USC;iHuman;SIMM)&layout=table&page=1">All</a></p>


  <p class="demo">Search Large Scale Biomass: <a href="/chaise/search/#1/gpcr_browser:biomassprodbatch_gui?facets=(biomassprodbatch_gui:volume::geq::1000/biomassprodbatch_gui:site::eq::USC)&layout=table&page=1">USC</a> | <a href="/chaise/search/#1/gpcr_browser:biomassprodbatch_gui?facets=(biomassprodbatch_gui:volume::geq::1000/biomassprodbatch_gui:site::eq::iHuman)&layout=table&page=1">iHuman</a> | <a href="/chaise/search/#1/gpcr_browser:biomassprodbatch_gui?facets=(biomassprodbatch_gui:volume::geq::1000/biomassprodbatch_gui:site::eq::SIMM)&layout=table&page=1">SIMM</a> | <a href="/chaise/search/#1/gpcr_browser:biomassprodbatch_gui?facets=(biomassprodbatch_gui:volume::geq::1000/biomassprodbatch_gui:site::eq::USC;iHuman;SIMM)&layout=table&page=1">All</a></p>


  <p class="demo">Search Small Scale Biomass: <a href="/chaise/search/#1/gpcr_browser:biomassprodbatch_gui?facets=(biomassprodbatch_gui:volume::geq::0/biomassprodbatch_gui:volume::leq::999/biomassprodbatch_gui:site::eq::USC)&layout=table&page=1">USC</a> | <a href="/chaise/search/#1/gpcr_browser:biomassprodbatch_gui?facets=(biomassprodbatch_gui:volume::geq::0/biomassprodbatch_gui:volume::leq::999/biomassprodbatch_gui:site::eq::iHuman)&layout=table&page=1">iHuman</a> | <a href="/chaise/search/#1/gpcr_browser:biomassprodbatch_gui?facets=(biomassprodbatch_gui:volume::geq::0/biomassprodbatch_gui:volume::leq::999/biomassprodbatch_gui:site::eq::SIMM)&layout=table&page=1">SIMM</a> | <a href="/chaise/search/#1/gpcr_browser:biomassprodbatch_gui?facets=(biomassprodbatch_gui:volume::geq::0/biomassprodbatch_gui:volume::leq::999/biomassprodbatch_gui:site::eq::USC;iHuman;SIMM)&layout=table&page=1">All</a></p>


<p class="demo">Status Dashboard (Coming Soon)</p>



  </div>
</div>
</section>
